[Unit]
Description=GNSS logging
After=multi-user.target

[Service]
ExecStart=/home/pi/base.sh
WorkingDirectory=/home/pi/
User=pi
Restart=on-abort
StandardOutput=file:/home/pi/log.txt
StandardError=file:/home/pi/error.log

[Install]
WantedBy=multi-user.target
